@model Product

<div class="card m-1 p-1">
    <div class="card-body p-1">
        <span class="badge bg-success" style="float:right">
            <small>@Model.Price.ToString("c")</small>
        </span>
        <button class="badge bg-warning">
            X
        </button>
        <a class="card-title" asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductID">
            @Model.ProductName
        </a>

        <form id="@Model.ProductID" asp-action="AddToWishlist" asp-controller="Wishlist" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit" class="btn btn-outline-success btn-sm pull-right" style="float:right">
                    В желаемое
                </button>
                @Model.Description
            </span>
        </form>
    </div>
</div>
